// ABOUT HERO STYLE START
.about-hero__container {
  border-radius: 15px;
  background: #e7816b;
  background-image: url("../images/home-bc__img.png");
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
}

.about-hero__wrapper {
  color: $primary-white-color;
  font-style: normal;
  margin-left: 9.5rem;
  margin-right: 9.5rem;
}

.about-hero__wrapper-describtion {
  width: 100%;
  max-width: 458px;
  margin-top: 32px;
  @include fontSetting(1.6rem, 1.6, 400, normal);
}

.about-hero__img {
  border-radius: 0 15px 15px 0;
}

@media screen and (max-width: 860px) {
  .about-hero__container {
    width: 100%;
    max-width: 689px;
    display: flex;
    flex-direction: column-reverse;
  }

  .about-hero__wrapper {
    margin-top: 64px;
    margin-bottom: 64px;
    margin-left: 5.8rem;
    margin-right: 5.8rem;
    text-align: center;
  }

  .about-hero__wrapper-describtion {
    width: 100%;
    max-width: 573px;
  }

  .about-hero__img {
    width: 100%;
    border-radius: 15px 15px 0 0;
  }
}

@media screen and (max-width: 376px) {
  .about-hero__container,
  .about-hero__img {
    border-radius: 0;
  }

  .about-hero__wrapper {
    margin-left: 2.4rem;
    margin-right: 2.4rem;
  }

  .about-hero__wrapper-title {
    @include fontSetting(3.2rem, 1, 500, normal);
  }

  .about-hero__wrapper-describtion {
    width: 100%;
    max-width: 327px;
    margin-top: 24px;
    @include fontSetting(1.5rem, 1.6, 400, normal);
  }
}
// ABOUT HERO STYLE END

// ABOUT INFO STYLE START
.about-info__container {
  margin-top: 160px;
  border-radius: 15px;
  background: #fdf3f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
}

.about-info__img {
  border-radius: 15px 0 0 15px;
}

.about-info__wrapper {
  font-style: normal;
  margin-left: 9.4rem;
  margin-right: 9.6rem;
}

.about-info__wrapper-title {
  color: $primary-peach-color;
}

.about-info__wrapper-describtion {
  width: 100%;
  max-width: 458px;
  margin-top: 24px;
  color: $secondary-dark-grey-color;
  @include fontSetting(1.6rem, 1.6, 400, normal);
}

@media screen and (max-width: 934px) {
  .about-info__container {
    width: 100%;
    max-width: 689px;
    display: flex;
    flex-direction: column;
  }

  .about-info__img {
    width: 100%;
    border-radius: 15px 15px 0 0;
  }

  .about-info__wrapper {
    margin-top: 69px;
    margin-bottom: 69px;
    margin-left: 5.8rem;
    margin-right: 5.9rem;
    text-align: center;
  }
}

@media screen and (max-width: 486px) {
  .about-info__wrapper {
    margin-left: 2.4rem;
    margin-right: 2.4rem;
  }

  .about-info__wrapper-title {
    @include fontSetting(3.2rem, 1, 500, normal);
  }

  .about-info__wrapper-describtion {
    width: 100%;
    max-width: 327px;
    margin-top: 24px;
    @include fontSetting(1.5rem, 1.6, 400, normal);
  }
}

@media screen and (max-width: 376px) {
  .about-info__container,
  .about-info__img {
    margin-top: 0;
    border-radius: 0;
  }

  .about-info__img {
    height: 375px;
  }
}

// ABOUT TRAVEL STYLE START
.about-travel {
}
.about-travel__container {
  margin-top: 160px;
  display: flex;
  justify-content: space-between;
  column-gap: 80px;
}

.about-travel__country {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-travel__country-img {
}
.about-travel__country-title {
  margin-top: 48px;
}
.about-travel__btn {
  margin-top: 32px;
  padding: 18px 17px 18px 18px;
}

@media screen and (max-width: 906px) {
  .about-travel__container {
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 80px;
  }
}

@media screen and (max-width: 377px) {
  .about-travel__container {
    margin-bottom: 117px;
  }
}
// ABOUT TRAVEL STYLE END

// ABOUT WORK STYLE START
.about-work__container {
  display: flex;
  flex-direction: row-reverse;
  border-radius: 15px;
}

.about-work__img {
  text-align: center;
  border-radius: 0 15px 15px 0;
}

@media screen and (max-width: 934px) {
  .about-work__container {
    display: flex;
    flex-direction: column;
  }

  .about-work__img {
    border-radius: 15px 15px 0 0;
  }
}
// ABOUT WORK STYLE END
