.footer {
  display: flex;
  flex-direction: column;
}

.footer__container {
  margin-top: -673px;
}

//top container start
.footer__top-container {
  height: 292px;
  border-radius: 15px;
  background-image: url("../images/footer-top-bc.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $primary-white-color;
  padding: 72px 96px 46px 95px;
}

.footer__wrapper__title {
  width: 100%;
  max-width: 300px;
  font-style: normal;
  @include fontSetting(4rem, 1, 500, 2px);
}

.footer__wrapper__describtion {
  width: 100%;
  max-width: 459px;
  font-style: normal;
  margin-top: 19px;
  @include fontSetting(1.6rem, 1.62, 400, normal);
}
//top container end

//bootom container start
.footer__bc-color {
  background: $primary-black-color;
  padding-top: 144px;
  margin-top: 400px;
}

.footer__bc-container {
}

.footer__bootom-container {
}

.footer__top-design {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footere__site-logo:hover {
  opacity: 0.8;
}

.footere__site-logo:active {
  opacity: 0.6;
}

.footer__list {
  display: flex;
  gap: 42px;
}

.footer__item {
  position: relative;
}

.footer__link {
  color: $primary-white-color;
  @include fontSetting(1.4rem, 1, 400, 2px);
  font-style: normal;
  position: relative;
}

.footer__link::before {
  content: "";
  display: inline-block;
  height: 1px;
  width: 0%;
  background-color: $primary-white-color;
  opacity: 0.4;
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer__link:hover::before {
  width: 100%;
}

.footer__link:active::before {
  background-color: transparent;
}

.footer__line {
  margin-top: 40px;
  height: 1px;
  opacity: 0.1;
  background: $primary-white-color;
}

.footer__bootom-design {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
  padding-bottom: 72px;
  color: $primary-white-color;
}

.footer__wrapper-design {
  @include fontSetting(1.6rem, 2.6, 700, normal);
  font-style: normal;
  opacity: 0.5;
}

.footer__wrapper-design__middle-title {
  @include fontSetting(1.6rem, 2.6, 400, normal);
}

.footer__wrapper-design__bootom-title {
  @include fontSetting(1.6rem, 2.6, 400, normal);
}

.footer__bootom-design-midle {
  @include fontSetting(1.6rem, 2.6, 700, normal);
  font-style: normal;
  opacity: 0.5;
}

.footer__bootom-design-right {
  display: flex;
  gap: 16px;
}

.footer__bootom-design-right img:hover {
  filter: brightness(1.5);
}

@media screen and (max-width: 875px) {
  .footer__container {
    margin-top: -731px;
  }

  .footer__top-container {
    flex-direction: column;
    padding: 57px 59px 57px 59px;
    height: 350px;
  }

  .footer__wrapper__title {
    width: 100%;
    max-width: 335px;
    margin-left: 6rem;
    margin-right: 6rem;
    text-align: center;
  }

  .footer__wrapper__describtion {
    width: 100%;
    max-width: 450px;
    text-align: center;
  }
}

@media screen and (max-width: 697px) {
  //top container start
  .footer__container {
    margin-top: -990px;
  }

  .footer__top-container {
    height: 379px;
    flex-direction: column;
    padding: 64px 24px 64px 24px;
  }

  .footer__wrapper__title {
    width: 100%;
    max-width: 300px;
    text-align: center;
    margin-left: 7rem;
    margin-right: 7rem;
  }
  //top container end

  //bootom container start
  .footer__top-design {
    flex-direction: column;
  }

  .footer__bootom-design {
    flex-direction: column;
    text-align: center;
    margin-top: 4rem;
  }

  .footer__wrapper-design {
    margin-bottom: 4rem;
  }

  .footer__bootom-design-midle {
    margin-bottom: 4rem;
  }
}

@media screen and (max-width: 574px) {
  .footer__wrapper__title {
    margin-left: 6rem;
    margin-right: 6rem;
  }
}

@media screen and (max-width: 555px) {
  .footer__wrapper__title {
    margin-left: 6rem;
    margin-right: 6rem;
  }
}

@media screen and (max-width: 535px) {
  .footer__wrapper__title {
    margin-left: 4rem;
    margin-right: 4rem;
  }
}

@media screen and (max-width: 515px) {
  .footer__wrapper__title {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

@media screen and (max-width: 497px) {
  .footer__wrapper__title {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

@media screen and (max-width: 473px) {
  .footer__container {
    margin-top: -1200px;
  }

  .footere__site-logo {
    margin-bottom: 32px;
  }

  .footer__bootom-design {
    margin-top: 250px;
  }

  .footer__line {
    margin-top: -220px;
  }

  .footer__list {
    flex-direction: column;
    text-align: center;
    gap: 32px;
    margin-top: 32px;
  }
}

@media screen and (max-width: 465px) {
  .footer__wrapper__title {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media screen and (max-width: 442px) {
  .footer__wrapper__title {
    width: 100%;
    max-width: 279px;
    @include fontSetting(3.2rem, 1.1, 500, 2px);
    margin-left: 0;
    margin-right: 0;
  }

  .footer__wrapper__describtion {
    width: 100%;
    max-width: 279px;
    @include fontSetting(1.5rem, 1.6, 400, normal);
  }
}

@media screen and (max-width: 376px) {
  .footer__wrapper__title {
    width: 100%;
    max-width: 279px;
    @include fontSetting(3.2rem, 1.1, 500, 2px);
  }

  .footer__wrapper__describtion {
    width: 100%;
    max-width: 279px;
    @include fontSetting(1.5rem, 1.6, 400, normal);
  }

  .footer__top-container__btn {
    padding: 1.7rem 1.9rem 1.7rem 1.8rem;
  }
}

@media screen and (max-width: 362px) {
  .footer__wrapper__title {
    width: 100%;
    max-width: 279px;
    @include fontSetting(3.2rem, 1.1, 500, 2px);
  }

  .footer__wrapper__describtion {
    width: 100%;
    max-width: 279px;
    @include fontSetting(1.5rem, 1.6, 400, normal);
  }
}

@media screen and (max-width: 361px) {
  .footer__wrapper__title {
    width: 100%;
    max-width: 279px;
    @include fontSetting(3.2rem, 1.1, 500, 2px);
  }

  .footer__wrapper__describtion {
    width: 100%;
    max-width: 279px;
    @include fontSetting(1.5rem, 1.6, 400, normal);
  }

  .footer__top-container__btn {
    margin-top: 32px;
  }

  .footer__top-container {
    height: 385px;
  }
}

//bootom container end
